* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

body {
  min-width: 925px;
  height: 100vh;
  background: center/cover url("../img/wallhaven-n6prgw.jpg") no-repeat;
  position: relative;
}

#diary, #garden, #light {
  border: 1px solid blue;
  position: absolute;
}

#diary {
  height: 15%;
  width: 10%;
  right: 10%;
  bottom: 16%;
}

#garden {
  width: 23%;
  height: 60%;
  left: 10%;
}

#light {
  height: 18%;
  width: 12%;
  top: 9%;
  right: 29%;
}

#diary:hover,
#garden:hover,
#light:hover {
  border: 1px solid blue;
}
