*{box-sizing: border-box;margin: 0;padding: 0;}

body{
    height: 100vh;
}
#container{
    background:center/cover url("../img/wallhaven-j8yvky.jpg") no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 440px;
}
@media (max-width:440px){
 #container{min-width:320px;}
}
#picture{
    background: white;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin-bottom: 10px;
    background: url("../img/1596262843\(1\).png") no-repeat;
    background-size: cover;
    background-position: center;
}
h1,h3{padding: 10px 20px;}
span{
    padding: 10px 150px;
    border-top: 0.7px solid #888;
}

#icon img{
    width: 30px;
    height: 30px;
}
#icon a{
    text-decoration: none;
    margin: 0 10px;
}
p{
    margin: 15px;
    text-align: center;
}
#btn a{
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    color: black
}
#btn a:link{
    text-decoration: none;
}
#btn a:hover{
    background: white;
    transition: all 1s;
}
#btn a:focus{
    outline: none;
}
