*{margin: 0;padding: 0;}
*{box-sizing: border-box;}          /*使box包含border*/

.window{
    width: 400px;
    height: 300px;         /*这里必须定宽高*/
    margin: 20px auto;
    overflow: hidden;
}
.images{
    position: relative;
}
.images >img{
    width: 100%;          /*使图片与爸爸一样宽，并不是占满它爸爸的意思*/
    transition: all 1s;
    position: absolute;
    top: 0;
}
.images >img.current{     /*正常状态，不移动不变形*/
    left: 0;
    transform: translateX(0);
    z-index: 1;
}
.images >img.leave{       /*离开状态，左移*/
    transform: translateX(-100%);
    z-index: 1;

}
.images >img.enter{       /*进入右边预备位，右移*/
    transform: translateX(100%);
}



